@import "lib/normalize";
@import "lib/colors";
@import "lib/shapes";
@import "lib/icons";
@import "lib/type";
@import "lib/levels";
@import "lib/mixins";

html,
body,
#site {
  min-height: 100%;
  height: 100%;
  position: relative;

}

#site {
  background: @white;
}

/*
    Main Layout
    ----------------------------

*/
.content {
  /* flexbox setup */
  .m-displayFlex();
  .m-flexDirection(column);
  min-height: 100%;
  max-width: 600px;
  margin: 0 auto;
  max-height: 100%;
  box-sizing: border-box;
}

.content > nav {
  height: 60px;
  width: 100%;
}

.content > article {
  .m-flex(1);
}

@media screen and ( min-width: 600px ) {
  .content {
    .m-flexDirection(row);
    padding: 1em 0;
  }

  .content > nav {
    .m-flex(0 0 80px);
    height: 100%;
  }
}

img {
	max-width: 100%;
}
