@import '../lib/colors';

.card {
  margin: 8px;
  box-sizing: border-box;
  padding: 20px;
  background: @white;
  max-height: 90%;
}

.card h1 {
	margin: 0;
}

.card > section > section {
	border-bottom: 1px solid @light;
}

.card > section > section li {
	border-bottom: 1px solid @medium;
}