@import "../lib/colors";
@import "../lib/mixins.less";

.card {
  box-sizing: border-box;
  padding: 20px;
  background: @white;
  max-height: 90%;
  overflow: hidden;
  width: 100%;
  position: relative;
}


.card > section {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	padding: 20px;
	background: @white;
	overflow-y: scroll;
	overflow-x: hidden;
  .m-transition(all .5s ease-in-out .08s);
}

.card > section.card-after {
  .m-transform(translate(100%, 0));
}

.card > section.card-active {
	z-index: 100;
  .m-transform(translate(0, 0));
}

.card > section.card-before {
  .m-transform(translate(-100%, 0));
}

.card > section > section {
	border-bottom: 1px solid @light;
}

.card > section .hero-image {
  color: white;
  padding: 30px 20px;
  margin: 0 -20px;
  background-size: cover;
  background-position: center center;
}

.card > section .hero-image * {
  color: white!important;
  text-shadow: 0 1px 2px rgba( 0, 0, 0, .3 );
}

.card > section h2 {
	margin-top: 0;
}

.card > section ul {
	list-style-type: none;
	margin: 5px;
	background: @light;
	border-radius: 3px;
	padding: 20px;
}

.card > section li {
	line-height: 2em;
	color: @medium;
	border-bottom: 1px solid @medium-accent;
}

.card > section li:last-of-type {
	border-bottom: none;
}

@media screen and ( min-width: 600px ) {
	.card {
		margin: 8px;
	}
}
