@import "../lib/colors";
@import "../lib/mixins.less";

.card {
  box-sizing: border-box;
  padding: 20px;
  background: @white;
  overflow: hidden;
  width: 100%;
  position: relative;
}


.card > section {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	padding: 20px;
	background: @white;
	overflow-y: scroll;
	overflow-x: hidden;
  .m-transition(all .3s cubic-bezier(0.46, -0.01, 0.29, 1.49) .3s);
  .m-transform-origin(0 0);
}

.card > section.card-after,
.card > section.card-before {
  .m-transform(scale(.9) translate(0, 3em));
  opacity: 0;
  .m-transition(all .3s cubic-bezier(0.46, -0.01, 0.29, 1.49) 0s);
}

.card > section.card-active {
	z-index: 100;
  opacity: 1;
  .m-transform(scale(1) translate(0, 0));
}

.card > section > section {
  padding-bottom: 16px;
	border-bottom: 1px solid @light;
}

.card > section .hero-image {
  color: white;
  padding: 30px 20px;
  margin: 0 -20px;
  background-size: cover;
  background-position: center center;
}

.card > section .hero-image * {
  color: white!important;
  text-shadow: 0 1px 2px rgba( 0, 0, 0, .3 );
}

.card > section h2 {
    margin-top: 0;
}

.card > section ul {
	list-style-type: none;
	margin: 5px;
	background: @light;
	border-radius: 3px;
	padding: 20px;
}

.card > section li {
	line-height: 2em;
	color: @medium;
	border-bottom: 1px solid @medium-accent;
}

.card > section li:last-of-type {
	border-bottom: none;
}
